.basment {
  background: $next-bg;
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.basment__box {
  display: flex;
}
/* Адресса подвала */
.basment__addreses {
  margin-right: 70px;
}

.address__item {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $trans-gray;

  transition: color $main-time $cubic;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &:hover,
  &:focus {
    color: $brand-color;
  }
}
.address__item--color-white {
  color: $white-color;
}
.basment-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
/* Соц-сети подвала */
.social-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-items: left;
  margin-top: 20px;
  margin-right: 92px;
}

.social-list__link {
  @extend %flex-center;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  fill: $white-color;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $main-time $cubic, fill $main-time $cubic;
  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $brand-color;
    border-color: $brand-color;
  }
}

.subscribe-form {
  margin-top: 20px;
  display: flex;
}
.subscribe-form__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  outline: rgba(255, 255, 255, 0.3);
  background-color: $next-bg;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: $trans-gray;
  }
  &:focus {
    color: $trans-gray;
    border: 1px solid $brand-color;
  }
}
.button-box {
  display: flex;
  &__icon {
    margin-left: 10px;
    fill: $white-color;
  }
}

.button-box__button {
  @extend %Big-button;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $main-time $cubic;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
