/* Палитра */
/* Цвет основного текста #212121*/
/* Вторичный цвет текста #757575*/
/* Троичный цвет текста rgba(255, 255, 255, 0.6); */
/* Цвет действия #2196F3*/
/* Белый цвет текста #FFFFFF*/
/* Основной фон #ffffff*/
/* Вторичный фон #E5E5E5; */
/* Дополнительный фон #2F303A; */
/* Animation */
@keyframes scalx {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* Цветовые переменные */
:root {
  --main-text-color: #212121;
  --brand-color: #2196f3;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --icon-color: #afb1b8;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
/* Общие характеристики по тегам */

/* Контейнеры-секции */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.additional-sec {
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Шапка*/
.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.head__row {
  display: flex;
  align-items: center;
}
/*Navigation*/
.navigation {
  display: flex;
  align-items: center;
}
/*Logotyp*/
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo__text--color-main {
  color: var(--brand-color);
}
.logo__text--color-black {
  color: var(--black-color);
}
/* Навигация */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item {
  position: relative;
}

.site-nav__text {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__text::after {
  position: absolute;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: none;
  border-radius: 2px;
  bottom: -30px;
  left: 0;

  transition: background-color var(--time) var(--cubic);
}
.site-nav__text:hover::after {
  background-color: var(--brand-color);
}
.site-nav__text {
  color: var(--main-text-color);
  transition: color var(--time) var(--cubic);
}
.site-nav__text:hover,
.site-nav__text:focus {
  color: var(--brand-color);
}

.site-nav__text--active {
  color: var(--brand-color);
}
.site-nav__text--active::after {
  position: absolute;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  bottom: -30px;
  left: 0;
}
/* Контакты Шапки */
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.site-contacts__item {
  fill: var(--second-text-color);
}
.site-contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);

  transition: color var(--time) var(--cubic), fill var(--time) var(--cubic);
}
.site-contacts__icon {
  margin-right: 10px;
}
.site-contacts__link:hover,
.site-contacts__link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
/*Студия*/
/*Баннер*/

.banner {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcgImg.jpg);
  background-position: center;
  background-size: cover;
}
/* Основной заголовок */
.banner__header {
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Кнопка баннера */
.banner__button {
  margin-top: 29px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  background: var(--brand-color);

  text-shadow: none;

  transition: text-shadow var(--time) var(--cubic);
}
/* Актив кнопки */

.banner__button:hover,
.banner__button:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Основные принципы*/
.principles {
  display: flex;
  justify-content: center;
}
.principles__item:not(:last-child) {
  margin-right: 30px;
}
.principles__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* Второй заголовок */
.principles__name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
/* Описание принципов */
.principles__description {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/*Чем мы занимаемся*/
.activity {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__box {
  position: relative;
  z-index: 1;
}
.activity__description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.about-workers {
  background-color: #f5f4fa;
}

.section-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Манипуляции с командой */
.workers {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.workers__item:not(:last-child) {
  margin-right: 30px;
}
.workers__item {
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.workers__img {
  margin-bottom: 30px;
}
/* Имена и позиции */
.workers__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.workers__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* Социальные-сети */
.social-media {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-items: normal;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: -10px;
}
.social-media__link {
  display: flex;
  justify-content: center;
  justify-items: center;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);

  transition: background-color var(--time) var(--cubic),
    fill var(--time) var(--cubic);
}
.social-media__link:hover,
.social-media__link:focus {
  fill: var(--white-color);
  background-color: var(--brand-color);
  animation: scalx 1000ms infinite alternate ease-in 500ms;
}

/* Клиенты */
.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -30px;
}
.clients__item {
  display: flex;
  margin-left: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);

  transition: border-color var(--time) var(--cubic),
    fill var(--time) var(--cubic);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}
/* Модальное окно №1 */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Манипуляции Модалки */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px;
  min-width: 528px;
  min-height: 521px;
  transition: transform 1000ms var(--cubic);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
/* Кнопка Х */
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;
  border-radius: 50%;
  background-color: var(--white-color);

  fill: #000000;

  transform: scale(1);
  transition: transform var(--time) var(--cubic), fill var(--time) var(--cubic);
}

.close-button:hover {
  transform: scale(1.25);
  fill: var(--brand-color);
}
/* Заголовок Модалки */
.modal__header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}
/* Регистрация */
.registration {
  display: flex;
  flex-direction: column;
}
.modal__box {
  margin-bottom: 10px;
}
.registration__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: var(--second-text-color);
  margin-bottom: 3px;
}
.registration__box {
  position: relative;
}
.registration__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--time) var(--cubic);
}
.registration__input:focus {
  border: 1px solid var(--brand-color);
}
.registration__icon {
  position: absolute;
  top: 0;
  left: 12px;
  fill: var(--main-text-color);
  transform: translateY(50%);
  transition: fill var(--time) var(--cubic);
}

.registration__box:focus-within > .registration__icon {
  fill: var(--brand-color);
}

/* Комментарии */
.commentaries__text {
  resize: none;

  padding-left: 15px;
  padding-top: 15px;
  min-width: 448px;
  min-height: 120px;
  margin-bottom: 20px;
  outline: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--time) var(--cubic);
}
.commentaries__text:focus {
  border: 1px solid var(--brand-color);
}
.commentaries__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
/* Политика */
.policy__label {
  display: flex;
  align-items: center;
  margin-left: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.policy__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;

  margin-right: 9px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;

  transition: background-color var(--time) var(--cubic),
    border var(--time) var(--cubic);
}
.policy__icon {
  fill: transparent;
  transition: fill var(--time) var(--cubic);
}
.policy__input {
  position: absolute;
  appearance: none;
}
.policy__input:checked:not(.policy__border) {
  background-color: var(--white-color);
}

.policy__input:checked + .policy__border > .policy__icon {
  fill: var(--white-color);
}
.policy__input:checked + .policy__border {
  background-color: var(--brand-color);
  border: transparent;
}

.policy__link {
  color: var(--brand-color);
  margin-left: 4px;
}
.registration__button {
  width: 200px;
  height: 50px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: background-color var(--time) var(--cubic);
}
.registration__button:hover,
.registration__button:focus {
  background-color: #188ce8;
}
/*Подвал*/
.basment {
  background: #2f303a;
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.basment__box {
  display: flex;
}
/* Адресса подвала */
.basment__addreses {
  margin-right: 70px;
}
/* Манипуляции с ссылками адреса */

/* Контакты подвала */

.address__item {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--time) var(--cubic);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item--color-white {
  color: var(--white-color);
}
.address__item:hover,
.address__item:focus {
  color: var(--brand-color);
}

.basment__logo {
  margin-bottom: 20px;
}
.logo__text--color-white {
  color: var(--white-color);
}

.basment-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/* Соц-сети подвала */
.social-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-items: left;
  margin-top: 20px;
  margin-right: 92px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--time) var(--cubic),
    fill var(--time) var(--cubic);
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--white-color);
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.subscribe-form {
  margin-top: 20px;
  display: flex;
}
.subscribe-form__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  outline: rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__email:focus {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid var(--brand-color);
}
.button-box {
  display: flex;
}

.button-box__button {
  display: flex;
  width: 200px;
  height: 50px;

  justify-content: center;
  align-items: center;

  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  background-color: var(--brand-color);

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--cubic);
}

.button-box__button:hover,
.button-box__button:focus {
  background-color: #188ce8;
}
.button-box__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

/*Портфолио*/
/* Кнопки портфолио */
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: #f5f4fa;
  border-radius: 4px;

  transition: background-color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
}
.portfolio-nav__button--blue {
  background-color: var(--brand-color);
  color: var(--white-color);
}
.portfolio-nav__button:hover,
.portfolio-nav__button:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.gallery__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--time) var(--cubic);
}

.overlay__info {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.project {
  display: flex;
  flex-direction: column;
  color: inherit;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery__link:hover .overlay__thumb,
.gallery__link:focus .overlay__thumb {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transform: translateY(0);
}
.project__name {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.project__description {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 2;
}
